<div class="row" class="content">
    <div class="col-md-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="btn-group-vertical" aria-label="instantclass">
                    <button type="button" class="btn btn-outline-secondary" routerLink="../" routerLinkActive="active"
                        #dashboard="routerLinkActive">Back</button>
                </div>
                <br><br>
                <div class="page-header">
                    <h3 class="page-title">
                        Create Instant Class
                    </h3>
                </div>
                <div class="d-flex align-items-left">
                    <div class="row">
                        <div class="col-lg-auto mx-auto">
                            <div class="auth-form-light text-left ">
                                <form class="forms-sample">
                                    <form class="forms-sample">
                                        <div class="form-group">
                                            <label for="inviteStudents">Invite Students</label>
                                            <br>
                                            <textarea rows="4" cols="50" maxlength="250"
                                                placeholder="Type Emails with each email separated by a commma"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="classDescription">Class Description</label>
                                            <br>
                                            <textarea rows="4" cols="50" maxlength="250"
                                                placeholder="Maximum length: 250 letters"></textarea>
                                        </div>
                                    </form>
                                    <button type="submit" class="btn btn-gradient-primary mr-2"
                                        (click)="start()">Start</button>
                                    <button class="btn btn-light">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>