<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">Nikhil J.</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': myclasses.isActive }">
      <a class="nav-link" routerLink="/myclasses" routerLinkActive #myclasses="routerLinkActive">
        <span class="menu-title">My Classes</span>
        <i class="mdi mdi mdi-apps menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': analytics.isActive }">
      <a class="nav-link" routerLink="/analytics" routerLinkActive #analytics="routerLinkActive">
        <span class="menu-title">Analytics</span>
        <i class="mdi mdi mdi-group menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': mystudents.isActive }">
      <a class="nav-link" routerLink="/mystudents" routerLinkActive #mystudents="routerLinkActive">
        <span class="menu-title">My Students</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': sharemyprofile.isActive }">
      <a class="nav-link" routerLink="/sharemyprofile" routerLinkActive #sharemyprofile="routerLinkActive">
        <span class="menu-title">Share My Profile</span>
        <i class="mdi mdi-share-variant menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': login.isActive }">
      <a class="nav-link" routerLink="/user-pages/login" routerLinkActive #login="routerLinkActive">
        <span class="menu-title">Login</span>
        <i class="mdi mdi-share-variant menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': register.isActive }">
      <a class="nav-link" routerLink="/user-pages/register" routerLinkActive #register="routerLinkActive">
        <span class="menu-title">Register</span>
        <i class="mdi mdi-share-variant menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
