<div class="row">
    <div class="col-12">
        <h3 class="page-title">
            <button type="submit" class="btn btn-outline-dark btn-fw" style="float: left;" routerLink="revenue" routerLinkActive="active" #revenue="routerLinkActive">Revenue</button>
            <button type="submit" class="btn btn-outline-dark btn-fw" style="float: left;" routerLink="students" routerLinkActive="active" #students="routerLinkActive">Students</button>
            <button type="submit" class="btn btn-outline-dark btn-fw" style="float: left;" routerLink="sessions" routerLinkActive="active" #sessions="routerLinkActive">Sessions</button>
            <button type="submit" class="btn btn-outline-dark btn-fw" style="float: left;" routerLink="attendence" routerLinkActive="active" #attendence="routerLinkActive">Attendence</button>
            <button type="submit" class="btn btn-outline-dark btn-fw" style="float: left;" routerLink="payments" routerLinkActive="active" #payments="routerLinkActive">Payments</button>
            <button type="submit" class="btn btn-outline-dark btn-fw" style="float: left;" routerLink="misc" routerLinkActive="active" #misc="routerLinkActive">Miscellaneous</button>
        </h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Revenue This Month
                </h4>
                <br>
                <h2 class="mb-5">Rs 15,0000</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Active Students
                </h4>
                <br>
                <h2 class="mb-5">45,6334</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Completed Sessions This Month
                </h4>
                <br>
                <h2 class="mb-5">95,5741</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total Revenue So Far
                </h4>
                <br>
                <h2 class="mb-5">Rs 15,0000</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total Students Taught So Far
                </h4>
                <br>
                <h2 class="mb-5">45,6334</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total Completed Sessions
                </h4>
                <br>
                <h2 class="mb-5">95,5741</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Revenue each Month</h4>
                <canvas baseChart [chartType]="'line'" [datasets]="areaChartData" [labels]="areaChartLabels" [options]="areaChartOptions" [colors]="areaChartColors"></canvas>
            </div>
        </div>
    </div>
</div>