<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-4 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo">
        </div>
        <h4>New here?</h4>
        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>

        <div *ngIf="!user" class="card text-center">
          <div class="card-block">
            <p class="card-text">Sign in with</p>
          </div>
          <div class="card-block">
            <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span
                class="fab fa-google"></span></button>
            <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span
                class="fab fa-facebook"></span></button>
          </div>
        </div>
        <div *ngIf="user" class="card text-center">
          <h6 class="card-header">
            Social Login
          </h6>
          <div class="card-block"></div>
          <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
          <div class="card-block">
            <h4 class="card-title">{{ user.name }}</h4>
            <p class="card-text">{{ user.email }}</p>
            <p class="card-text">Logged in with {{ user.provider }}</p>
          </div>

          <div class="page-header">
            <h3 class="page-title">
              Registration Form
            </h3>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div *ngIf="user">
  <div class="page-header">
    <h3 class="page-title">
      Registration Form
    </h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Default form</h4>
          <p class="card-description">
            Basic form layout
          </p>
          <form class="forms-sample">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName">
            </div>
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" [(ngModel)]="email" name="email">
            </div>
            <!-- TODO fix calendar-->
            <div class="form-group">
              <label for="inputDob">Date Of Birth</label>
               <!-- <ngb-datepicker #dp [(ngModel)]="age" (navigate)="age = $event.next" class="w-100 border-0" name="age" id="age"></ngb-datepicker> -->
              <input type="text" class="form-control" [(ngModel)]="dob" name="dob">
            </div>
            
            <div class="form-group">
              <label for="inputAge">Age</label>
              <input type="text" class="form-control" [(ngModel)]="age" name="age">
            </div>

            <h4 class="card-title">Instruments</h4>
            <p class="card-description">Please select instruments you can teach</p>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <ul class="checkbox-items">
                    <li *ngFor="let item of checkboxesDataList">
                      <input type="checkbox" name="instruments1" id="instruments1" [(ngModel)]="item.isChecked"
                        (change)="changeSelection()">{{item.label}}
                    </li>
                  </ul>

                </div>

                <div class="col-md-6">
                  <h4>Teaching Experience</h4>
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" type="radio" name="options1"
                          [(ngModel)]="monthsOfExperience" value="0-1 Years">
                        0-1 Years
                        <i class="input-helper"></i>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="options2" [(ngModel)]="monthsOfExperience"
                          value="1-3 Years">
                        1-3 Years
                        <i class="input-helper"></i>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="options3" [(ngModel)]="monthsOfExperience"
                          value="3-7 Years">
                        3-7 Years
                        <i class="input-helper"></i>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="options4" [(ngModel)]="monthsOfExperience"
                          value="7+ Years">
                        7+ Years
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="selectLevel">Level of Teaching</label>
                  <select class="form-control" [(ngModel)]="experienceLevel" name="experienceLevel">
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Professional</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="selectGender">Gender</label>
                  <select class="form-control" [(ngModel)]="gender" name="gender">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="averageCharge">Average Charge per session</label>
                  <input type="text" class="form-control" [(ngModel)]="charge" name="charge">
                </div>
              </div>
            </form>
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="signMeUp()">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
          <ng-container *ngFor="let news  of data?.articles">
            <h3>{{news.title}}</h3>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
    <div class="card-block" *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID">
      <button class="btn" (click)="refreshGoogleToken()">Refresh google token</button>
    </div>
  </div>