.bg-transparent {
    background-color: transparent;
  }
  
  :host {
    height: 100%;
  }
  
  .photo {
    object-fit: contain;
  }
  
  .card {
    width: 20rem;
    margin: 0 auto;
  }

  .content {
    background:#eee;
    width: 50%;
    height:100%;
    float: left;
  }     
  
  .sidebar {
    background:#eee;
    width: 50%;
    height:100%;
    float:left;
  }